<!------------------------------- FORMULARIO PARA REGISTRO DE ADMINISTRADOR ----------------------------->
<main>
  <form [formGroup]="RegistroAdmin">
    <!--------------NOMBRE--------------->

    <mat-form-field>
      <mat-label translate="LabelNombreForm"></mat-label>
      <input formControlName="nombre" type="text" matInput />
      <button mat-icon-button matSuffix>
        <mat-icon>person</mat-icon>
      </button>
      <mat-error translate="ErrorNombreForm"></mat-error>
    </mat-form-field>
    <br />

    <!--------------TELEFONO--------------->

    <mat-form-field>
      <mat-label translate="LabelTelefonoForm"></mat-label>
      <input formControlName="telefono" matInput />
      <button mat-icon-button matSuffix>
        <mat-icon>call</mat-icon>
      </button>
      <mat-error translate="ErrorTelefonoForm"></mat-error>
    </mat-form-field>
    <br />

    <!---------------EMAIL---------------->

    <br />
    <mat-form-field>
      <mat-label translate="LabelEmailForm"></mat-label>
      <input formControlName="email" matInput />
      <button mat-icon-button matSuffix>
        <mat-icon>email</mat-icon>
      </button>
      <mat-error
        *ngIf="RegistroAdmin.controls['email'].errors?.['required']"
        translate="ErrorEmailForm"
      ></mat-error>
      <mat-error
        *ngIf="RegistroAdmin.controls['email'].errors?.['email'] && !RegistroAdmin.controls['email'].errors?.['required']"
        translate="ErrorEmailInvalidForm"
      ></mat-error>
    </mat-form-field>
    <br />

    <!---------------PASSWORD---------------->
    <br />

    <mat-form-field>
      <mat-label translate="LabelPasswordForm"></mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error translate="ErrorPasswordForm"></mat-error>
    </mat-form-field>
    <br />

    <!--------------------BOTONES-------------------->

    <div class="ContainerBotones">
      <button
        routerLink="/"
        type="submit"
        mat-raised-button
        color="primary"
        translate="BotonLogeo"
      ></button>

      <button
        mat-button
        color="primary"
        type="button"
        translate="BotonSubmit"
        (click)="SubmitRegistro()"
      ></button>
    </div>
    <br />
  </form>
</main>

<app-footer></app-footer>
