<h1 mat-dialog-title *ngIf="Curso" translate="EditarCurso"></h1>
<h1 mat-dialog-title *ngIf="!Curso" translate="CrearCurso"></h1>
<div mat-dialog-content>
  <main style="display: flex; justify-content: center">
    <div class="ContainerFormCreacion">
      <br />
      <br />
      <br />
      <br />

      <!------------------------------- FORMULARIO PARA EDITAR CURSO ----------------------------->

      <ng-container *ngIf="Curso">
        <form [formGroup]="CrearCurso">
          <!--------------NOMBRE--------------->

          <mat-form-field appearance="outline">
            <mat-label translate="LabelNombreForm"></mat-label>
            <input formControlName="nombre" matInput />
            <mat-error translate="ErrorNombreForm"></mat-error>
          </mat-form-field>
          <br />

          <!---------------PROFESOR---------------->
          <br />
          <mat-form-field appearance="outline">
            <mat-label translate="LabelProfesorForm"></mat-label>
            <input formControlName="profesor" matInput />
            <mat-error translate="ErrorProfesorForm"></mat-error>
          </mat-form-field>
          <br />

          <!-----------------FECHAS INICIO---------------->
          <br />
          <mat-form-field class="example-full-width">
            <mat-label translate="LabelFechaInicial"></mat-label>
            <input
              matInput
              formControlName="fechaInicio"
              [matDatepickerFilter]="FechaDeInicio"
              [matDatepicker]="pickerInicio"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerInicio"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
            <mat-error translate="ErrorFechaInicioForm"></mat-error>
          </mat-form-field>
          <br />

          <!-----------------FECHAS FINAL---------------->
          <br />
          <mat-form-field class="example-full-width">
            <mat-label translate="LabelFechaFinal"></mat-label>
            <input
              matInput
              formControlName="fechaFinal"
              [matDatepickerFilter]="FechaDeFinalizacion"
              [matDatepicker]="pickerFinalizacion"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerFinalizacion"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFinalizacion></mat-datepicker>
            <mat-error translate="ErrorFechaFinalForm"></mat-error>
          </mat-form-field>
          <br />

          <!---------------AREA---------------->
          <br />
          <mat-form-field appearance="outline">
            <mat-label translate="LabelSelectCursos"></mat-label>
            <mat-select formControlName="area">
              <mat-option
                *ngFor="let options of valoresDelSelect"
                [value]="options.value"
              >
                {{ options.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <!--------------DESCRIPCION--------------->

          <mat-form-field appearance="outline">
            <mat-label translate="LabelDescripcionForm"></mat-label>
            <textarea formControlName="descripcion" matInput></textarea>
            <mat-error translate="ErrorDescripcionForm"></mat-error>
          </mat-form-field>
          <br />

          <!---------------VACANTES---------------->
          <br />
          <mat-form-field appearance="outline">
            <mat-label translate="LabelVacantesForm"></mat-label>
            <input formControlName="vacantes" type="number" matInput />
            <mat-error translate="ErrorVacantesForm"></mat-error>
          </mat-form-field>
          <br />

          <!--------------------BOTONES-------------------->

          <div class="ContainerBotones">
            <button
              (click)="OnEdit()"
              type="submit"
              mat-raised-button
              color="primary"
              translate="BotonEditarCurso"
            ></button>

            <button
              mat-button
              color="primary"
              translate="BotonNoGracias"
              (click)="onNoClick()"
            ></button>
          </div>
          <br />
        </form>
      </ng-container>

      <!------------------------------- FORMULARIO PARA CREAR CURSO ----------------------------->

      <ng-container *ngIf="!Curso">
        <form [formGroup]="CrearCurso">
          <!--------------NOMBRE--------------->

          <mat-form-field appearance="outline">
            <mat-label translate="LabelNombreForm"></mat-label>
            <input formControlName="nombre" matInput />
            <mat-error translate="ErrorNombreForm"></mat-error>
          </mat-form-field>
          <br />

          <!---------------PROFESOR---------------->
          <br />
          <mat-form-field appearance="outline">
            <mat-label translate="LabelProfesorForm"></mat-label>
            <input formControlName="profesor" matInput />
            <mat-error translate="ErrorProfesorForm"></mat-error>
          </mat-form-field>
          <br />

          <!-----------------FECHAS INICIO---------------->
          <br />
          <mat-form-field class="example-full-width">
            <mat-label translate="LabelFechaInicial"></mat-label>
            <input
              matInput
              formControlName="fechaInicio"
              [matDatepickerFilter]="FechaDeInicio"
              [matDatepicker]="pickerInicio"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerInicio"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
            <mat-error translate="ErrorFechaInicioForm"></mat-error>
          </mat-form-field>
          <br />

          <!-----------------FECHAS FINAL---------------->
          <br />
          <mat-form-field class="example-full-width">
            <mat-label translate="LabelFechaFinal"></mat-label>
            <input
              matInput
              formControlName="fechaFinal"
              [matDatepickerFilter]="FechaDeFinalizacion"
              [matDatepicker]="pickerFinalizacion"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerFinalizacion"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFinalizacion></mat-datepicker>
            <mat-error translate="ErrorFechaFinalForm"></mat-error>
          </mat-form-field>
          <br />

          <!---------------AREA---------------->
          <br />
          <mat-form-field appearance="outline">
            <mat-label translate="LabelSelectCursos"></mat-label>
            <mat-select formControlName="area">
              <mat-option
                *ngFor="let options of valoresDelSelect"
                [value]="options.value"
              >
                {{ options.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <!--------------DESCRIPCION--------------->

          <mat-form-field appearance="outline">
            <mat-label translate="LabelDescripcionForm"></mat-label>
            <textarea formControlName="descripcion" matInput></textarea>
            <mat-error translate="ErrorDescripcionForm"></mat-error>
          </mat-form-field>
          <br />

          <!---------------VACANTES---------------->
          <br />
          <mat-form-field appearance="outline">
            <mat-label translate="LabelVacantesForm"></mat-label>
            <input formControlName="vacantes" type="number" matInput />
            <mat-error translate="ErrorVacantesForm"></mat-error>
          </mat-form-field>
          <br />

          <!--------------------BOTONES-------------------->

          <div class="ContainerBotones">
            <button
              (click)="OnSubmit()"
              type="submit"
              mat-raised-button
              color="primary"
              translate="BotonCrearCurso"
            ></button>

            <button
              mat-button
              color="primary"
              translate="BotonNoGracias"
              (click)="onNoClick()"
            ></button>
          </div>
          <br />
        </form>
      </ng-container>
    </div>
  </main>
</div>
