.ContainerFooter {
  height: 200px;
  text-align: center;
  background-color: rgb(7, 128, 158);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
}

//*- ESTILOS PARA MOVILES :

@media (max-width: 500px) {
  h1 {
    font-size: 15px;
  }
  .ContainerFooter {
    width: 110%;
  }
}
