<h1>INSCRIPCIONES DE ALUMNOS</h1>
<br />
<br />
<br />
<br />
<main>
  <mat-form-field class="Buscador">
    <mat-label translate="LabelList"></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>
  <div class="ContainerTabla">
    <section class="mat-elevation-z10">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Nombre Alumno Column -->
        <ng-container matColumnDef="Alumno">
          <th
            mat-header-cell
            *matHeaderCellDef
            translate="ColumnaNameAlumnoInscripcion"
          ></th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombre }}
          </td>
        </ng-container>

        <!-- Curso Inscripto Column -->
        <ng-container matColumnDef="Curso Inscripto">
          <th
            mat-header-cell
            *matHeaderCellDef
            translate="ColumnaCursoInscripto"
          ></th>
          <td mat-cell *matCellDef="let element">
            {{ element.cursando }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </table>
      <ng-container *ngIf="AlumnosInscriptos.length">
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </ng-container>
    </section>
  </div>
</main>
